/* Login */

.login-page {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-page .login-page-left, .login-page-right {
   margin-top: 50px;
}
