@model UpdateJobOfferPropositionMvcViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edycja</h1>

<h4 class="text-center">Oferujemy</h4>
<hr />
<br>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                @Html.TextAreaFor(e => e.Content, 5, 20, new { @class = "form-control" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" asp-controller="JobOffer">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
